body {
    /* background: var(--blue); */
    background: #01a5ff;
    color: var(--white);
}

svg {
    height: 60px;
    width: 60px;
}

button {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

li {
    border-bottom: 1px solid var(--white);
    text-align: left;
}

li:hover {
    cursor: pointer;
}

.element-title {
    border-bottom: 1px solid var(--white);
    padding: 1px;
}

.element-desc {
    border-left: 1px solid var(--white);
    padding: 3px;
}

.control-buttons {
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
}

.App {
    text-align: center;
}

.character-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
}

.character {
    border: 1px solid var(--dark);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 80px;
    animation: 'box-shadow' ease-in 0.3;
}

.character:hover {
    cursor: pointer;
    box-shadow: 5px 3px 8px var(--dark);
}

.character-select.flipped .character svg {
    transform: scaleX(-1);
}

.found-achievements {
    margin: 12px;
}

.clear-btn {
    margin-right: 12px;
}

.reverse-btn {
    margin-left: 12px;
}
